# images
*.png
*.tif
*.jpg

Experiments/*/data/
Projects/*/pictures/
Projects/*/images/
Projects/*/samples/
Projects/*/resources/
Projects/*/output/

# cache
__pycache__/
*.py[cod]
*$py.class
.env

# envs
venv/
env/
.conda/
.venv/

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db